$backgroundColor: #fdf6f6;
$foregroundColor: #a5e9e1;
$textColor: #2e2b2b;
$effectColor: #388186;


$themes: (
  theme1: (
    backgroundColor: #303a52,
    textColor: #fc85ae,
    buttonTextColor: #fc85ae,
    buttonTextTransform: none,
    buttonTextHoverColor: #9e579d,
    buttonColor: #574b90,
    buttonBorder: 2px solid #fc85ae,
  ),
  theme2: (
    backgroundColor: #222,
    textColor: #ddd,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
  ),
);
