@import '../globals';


.footer {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 20px 0;
  background-color: $backgroundColor;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
