$backgroundColor: #fdf6f6;
$foregroundColor: #a5e9e1;
$textColor: #2e2b2b;
$effectColor: #388186;


.footer {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 20px 0;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  padding: 0;
  color: $textColor;
  font-weight: bold;
}