@import "../globals";

.component{
    background-image:linear-gradient(to bottom, rgba($backgroundColor, 0.3) 10%, $backgroundColor),url("../../images/backgroundHomePage.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    h1{
        text-transform: none;
        padding-top: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}