.component{
    background-image:url("../../images/backgroundHomePage.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    h1{
        text-transform: none;
        padding-top: 100px;
    }
}