.projects {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .project {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 400rem) {
    .project {
      width: 50%;
    }
  }
  
  @media (min-width: 560rem) {
    .project {
      width: 40%;
    }
  }