@import "../globals";


.flipCard{
    background-color: transparent;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.flipCardInner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}
.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    img{
        max-width: 150px;
    }
}
.flipCardFront {
    background: $foregroundColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flipCardBack {
    padding: 20px;
    background: $effectColor;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 0;
        padding: 0;
        color: $backgroundColor;
        flex-grow: 1;
    }
    button{
        margin: 15px 0 0;
    }
}


.fadeBackground{
    background-color: rgba($backgroundColor, .3);
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.projectCard{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid $effectColor;
    .imagePosition{
        height: 50vh;
        width: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $foregroundColor;
    }
    .projectInformationPosition{
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        height: 50vh;
        width: 40vh;
        background-color: $backgroundColor;
    }
}
.projectImage{
    width: 40vh;
}
.projectName{
    font-weight: bolder;
    font-size: 2rem;
    text-align: left;
    margin: 0;
    padding: 0;
}
.projectTechs{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
}
.projectTech{
    display: inline-block;
    margin: .2rem;
    border: 1px solid $effectColor;
    padding: .2rem;
    color: $textColor;
    font-weight: lighter;
    font-size: .8rem;
}
.projectAboutLabel{
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: $textColor;
}
.projectInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    p{
        margin-top: 1.2rem;
        margin-bottom: auto;
        font-size: .8rem;
        line-height: 1.5;
        color: $textColor;
        flex-grow: 1;
    }
    a{
        margin: 15px 0 0;
	    padding: 5px 10px;
	    font-size: 0.7rem;
    }
}

//todo fix
@media (max-width: 45em) {
    .flipCardFront{
        visibility: hidden;
    }
    .flipCardBack{
        transform: rotateY(0);
    }
    .flipCard:hover .flipCardInner {
        transform: rotateY(0);
    }
    .projectCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 70%;
        .projectImage{
            width: 30%;
        }
        .imagePosition{
            width: 100%;
            height: 70%;
        }
        .projectInformationPosition{
            width: 100%;
        }
    }
}



