@import '../globals';

@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

* {
  font-family: "Asap", sans-serif;
  font-weight: 500;
}

body{
    background-color: $backgroundColor;
}
.container{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}