$backgroundColor: #fdf6f6;
$foregroundColor: #a5e9e1;
$textColor: #2e2b2b;
$effectColor: #388186;

@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

* {
  font-family: "Asap", sans-serif;
  font-weight: 500;
}

body{
    background-color: $backgroundColor;
}
.container{
    margin: 0 auto;
    max-width: 900px;
    padding: 1rem;
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

h1, h2, h3, h4, h5, h6, p{
    color: $textColor;
}

a{
    color: $textColor;
    text-decoration: none;
    &:hover {
        color: $effectColor;
    }
}