@import '../globals';

@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

* {
  font-family: "Asap", sans-serif;
  font-weight: 500;
}

body{
    background-color: $backgroundColor;
    min-height: 100vh;
}
.container{
    margin: 0 auto;
    max-width: 900px;
    padding: 1rem;
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

h1, h2, h3, h4, h5, h6{
    color: $textColor;
    text-align: center;
    text-transform: uppercase;
}
p{
    color: $textColor;
    font-size: x-large;
}

a{
    color: $effectColor;
    text-decoration: none;
    &:hover {
        color: $effectColor;
    }
}